.header h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    }
      
      body{
          margin: 0;
          padding: 0;
          font-family: 'Raleway' ,sans-serif;
          color: #fff;
      }

      .scroll-md-8 {
          scroll-snap-align: start;
          overflow-y: scroll;
      }
      
      .banner{
          height: 100vh;
          width: 100%;
          background:url('overlay.png'),url('YamahaJakarta.jpg');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
      }

      .banner .navbar{
            margin-top: 4%;

      }

      .banner .navbar-brand{
          color: #fff;
          font-size: 1.8em;
          font-weight: 700;
          margin-left: 10%;
      }

      .banner .nav{
          margin-right: 10%;
      }

      .banner .nav li a{
          color: #aaa;
          font-size: 1.2em;
      }

      .banner .info{
          margin-top: 15%;
          transform: translateY(-15%);
      }

      .banner .info h1{
            font-size: 2.5em;
            font-weight: 700;
            color: #fff;
            letter-spacing: 2px;
      }
      
      .banner .info p{
        font-size: 1em;
        font-weight: 500;
        color: #aaa;
        letter-spacing: 2px;
  }

    .banner .info a{
        margin-left: 50%;
        transform: translateX(-50%);
        color: #fff;
        padding: 10px 20px;
        font-size: 1em;
        font-weight: 600;
    }

    /*----------------Product------------*/
    .left {
        width: 35%;
    }

    .right {
        width: 65%;
        overflow-x: hidden;
    }

    button {
        padding: 15px 50px;
        margin: 20px 20px 0 0;
        border-radius: 50%;
        border: none;
        background: #37B234;
        color: white;
    }

    .btn1 {
        border: 2px solid white;
    }

    .btn2 {
        background: white;
        color: black;
    }

    .home {
        position: relative;
        color: white;
    }

    .home .left {
        padding: 150px 0 0 65px;
        margin-top: 50px;
    }

    .home .right {
        margin-top: 100px;
    }

    .home::after{
        content: '';
        position: absolute;
        top: 0;
        background-image: url('');
        background-size: contain;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        z-index: -1;
    }

    .time_box {
        margin: 0 50px 0 0;
        border: 1px solid white;
        padding: 20px;
        border-radius: 10px;
    }

    .time_box h1 {
        font-size: 50px;
        margin-left: 15px;
    }

    .time_box span {
        font-size: 14px;
        margin-left: 15px;
    }

    .home h2 {
        font-size: 50px;
        margin: 20px 0 20px 0;
    }
    

/*-----------------Latest----------------*/
.top {
    margin-top: 100px;
}

.mtop {
    margin-top: 50px;
}

.heading {
    text-align: center;
    position: relative;
    margin-bottom: 150px;
}

.heading h1 {
    font-size: 40px;
    font-weight: 400;
}

.heading button {
    padding: 15px 80px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 42%;
    font-size: 15px;
}

.heading .line {
    position: relative;
    width: 100%;
}

.heading .line {
    border: 1px solid #e3e3e3;
    width: 45%;
    height: 3px;
    border-left: none;
    position: absolute;
    left: 0;
    top: 43px;
    z-index: 1;
}

.heading .line i {
    position: absolute;
    right: -1px;
    top: -7px;
    color: white;
}

.heading .line2{
    right: 0;
    left: 59%;
    border-radius: none;
}

.heading .line2 i{
    left: -100%;
}
